/* global styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}
/* header style */
header {
    background-color: #008080;
    color: white;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
}
/* main body style */
main {
    margin: 20px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* form style */
form {
    display: flex;
    margin-bottom: 20px;
}

form input,
form button {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input:focus,
form button:focus {
    outline: none;
    border-color: #008080;
    box-shadow: #008080;
}

form button {
    background-color: #008080;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    opacity: 0.7;
}
/* table styles */
#task-list {
    width: 100%;
    max-height: 400px; 
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: white; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    position: sticky; 
    top: 0; 
    background-color: #008080; 
    z-index: 1; 
}

th, td {
    padding: 15px; 
    border-bottom: 1px solid #ccc; 
    text-align: left;
}

th {
    color: #fff;
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

td {
    background-color: #f9f9f9;
}

tr:hover td {
    background-color: #f1f1f1; 
}

/* Responsive design for smaller screen sizes */
@media (max-width: 600px) {
    form {
        flex-direction: column;
    }

    form input,
    form button {
        width: 100%;
        margin: 5px 0;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        display: none;
    }

    td {
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        text-align: left;
        font-weight: bold;
    }
}
